
{% extends "base.html" %}

{% block title %}
   <title>Pata Corporation ERP Solutions</title>
{% endblock title %}


 {% block mega_menu %}
		{% include "mega_menu.html" %}
 {% endblock mega_menu %} 


{% block content %}

    {% load static %}
    <style>
    .card .card-image img
    {
    	height:200px;
    	width:auto !important;
    }
    </style>

   <div class="row">

         <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/accounting.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Accounting<i class="material-icons right">more_vert</i></span>
			      <p><a href="{% url 'accounting_home' %}">Landing</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Accounting<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	     </div> 

         <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/hr.png' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">HR<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">HR<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>
	   
       <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/payroll.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Payroll<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Payroll<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>

	   <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/pos.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">POS<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">POS<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>

	    <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/attendance.png' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Attendance<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Attendance<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>

	   <div class="col s6 m3">
		    <div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/crm.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">CRM<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">CRM<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>
	   
       <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/inventory.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Inventory<i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Inventory<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>


       <div class="col s6 m3">
		    <div class="card ">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{% static '/images/project-management.jpg' %}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Project <i class="material-icons right">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>

			    </div>
		       <div class="card-action">
		          <a href="#">This is a link</a>
		       </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Project Management<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
		    </div>
	   </div>
	  

    </div>


{% endblock %}