{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 
   
 
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/md/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static '/md/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static '/css/loader.css' %}" rel="stylesheet" type="text/css" />
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static '/md/js/materialize.js' %}"></script>
  <script src="{% static '/md/js/init.js' %}"></script>

  <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
  <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/bootstrap/css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css" />

  <script src="{% static '/angular-1.5.8/angular.js' %}"></script>
  <script src="{% static '/angular-1.5.8/angular-route.js' %}"></script>

  <!--
  <script type="text/javascript" src="{% static '/angularLib/mainController.js' %}"></script>
  <script type="text/javascript" src="{% static '/angularLib/mainDirective.js' %}"></script>
  <script type="text/javascript" src="{% static '/angularLib/mainService.js' %}"></script>
  -->

  <script type="text/javascript">
	/*$( window ).load(function() {		
	     $(".loader").fadeIn();
	});
	$(document).ready(function(){
		$(".loader").fadeOut();
	});*/
	
	</script>
   
  <style>
       select {
               display: block !important;
          }
  </style> 

</head>