<style>
#mega-menu {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
}
#mega-menu:hover{
    display: block;
}
#trigger a:hover + nav {
    display: block;
}
</style>
<!--Navigation-->
<nav>
    <div class="nav-wrapper teal lighten-2">
        <div class="container">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li id="trigger">
                    <a href="{% url 'accounting_home' %}">Accouning</a>

                    <!--Secondary Mega Menu-->
                    <nav id="mega-menu">
                        <div class="nav-wrapper red lighten-2">
                            <div class="container">
                                <ul class="left hide-on-med-and-down">
                                    <li><a href="{% url 'accounttype' %}">Account Type</a></li>
                                    <li><a href="#accountyear">Account Year</a></li>
                                    <li><a href="#journalentry">Journal Entry</a></li>
                                    <li><a href="#ledger">Leadger</a></li>
                                    <li><a href="#transaction">Transaction</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </li>
                <li><a href="badges.html">Hr</a></li>
                <li><a href="collapsible.html">Payroll</a></li>
                <li><a href="mobile.html">POS</a></li>
            </ul>


            <ul class="side-nav" id="mobile-demo">
                <div id="mobile-logo"><img class="responsive-img" src="img/mobile-logo.svg" /></div>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="badges.html">About</a></li>
                <li><a href="collapsible.html">Blog</a></li>
                <li><a href="mobile.html">Portfolio</a></li>
            </ul>
        </div>
    </div>
</nav>